<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>
      A reminder was created to be sent to you.
    </h1>
      <p>
        It will only be sent if it is confirmed by one of the recipients.
        You can confirm it by clicking on this link:
      </p>
      <p>
          <a href="<%= @passwordless_link %>">confirm reminder</a>
      </p>
      <p>
        If confirmed, the reminder will be sent on the <%= @reminder.date.strftime('%Y-%m-%d') %> to:
        <ul>
              <% @reminder.users.each do |recipient| %>
                  <li><%= recipient.email %></li>
              <% end %>
          </ul>
      </p>
  </body>
</html>
