<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <%= t('.day', date: @date) %>
    </p>
    <p>
      <%= t('.reply') %>
        <ul>
              <% @reminder.users.each do |recipient| %>
                  <li><%= recipient.email %></li>
              <% end %>
          </ul>
      </p>
  </body>
</html>
