<h1 class="page_title"><%= t 'request_confirmation.page.title' %></h1>
<p>
  <%= t 'request_confirmation.page.content' %>
</p>
<p>
    <%= link_to t('New_reminder'), new_reminder_path %>
    <%= link_to t('sign_in'), users_sign_in_path %>
</p>
