<h1 class="page_title"><%= t 'reminders.request_confirmation.title' %></h1>
<p>
  <%= t 'reminders.request_confirmation.content' %>
</p>
<p>
    <%= link_to "New", new_reminder_path %>
    <%= link_to t('sign_in'), users_sign_in_path %>
</p>
