<% if user.errors.full_messages_for(:email).length == 0  %>
    <li data-reminder-form-target="recipientEmail">
        <span><%= user.email %></span>
        <%= hidden_field_tag 'users[][email]',
            user.email, id: user.id  %>
        <a data-action="click->reminder-form#removeRecipient">
            <%= content_tag(:i, nil, class: ['fa-solid', 'fa-circle-minus'] ) %>
        </a>
    </li>
<% end %><!-- end if no errors -->
